.env
.env.development
.env.production
.env.homologation
node_modules    
dist
.DS_Store   
.vscode
npm-debug.log
yarn-error.log
.idea
*.iml
*.log
coverage
*.tgz
*.zip
*.tar.gz
*.bak
*.tmp
*.swp
*.swo
